*.egg-info
build
dist
*.egg
.eggs
*.py[codz]
*$py.class
.tox
.*_cache
.DS_Store
.idea
.vscode
/pip-wheel-metadata
/src/avroc/version.py
venv*
.python-version
*wheel-store*
Dockerfile*
.dockerignore
*.so
